<!-- Controles with camera streaming -->
<div class="section group">
  <!-- Controls -->
  <div class="col w-5">
    <table class="table-controls">
      <tr>
        <td colspan="5"><h1>Surveillance</h1></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><i class="fa fa-caret-up fa-5x" aria-hidden="true"></i></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><i class="fa fa-caret-left fa-5x" aria-hidden="true"></i></td>
        <td><i class="fa fa-paw fa-3x" aria-hidden="true"></i></td>
        <td><i class="fa fa-caret-right fa-5x" aria-hidden="true"></i></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><i class="fa fa-caret-down fa-5x" aria-hidden="true"></i></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><i class="fa fa-music fa-4x" aria-hidden="true"></i></td>
        <td></td>
        <td></td>
        <td></td>
        <td><i class="fa fa-camera fa-4x" aria-hidden="true"></i></td>
      </tr>
    </table>
  </div>

  <!-- Camera streaming -->
  <div class="camera-stream col w-6">

  </div>
</div>