<header>
  <%= image_tag "header.jpg", class:"banner" %>

  <div class="header-nav-bar">
    <nav>
      <ul>
        <li><%= image_tag("gears_Surveillance.png", class:"gears") %></li>
      </ul>
    </nav>
  </div>

</header>