<header>
  <%= image_tag "header.jpg", class:"banner" %>

  <nav class="header-nav-bar">
    <ul>
      <li><%= image_tag("gears_Surveillance.png", class:"gears") %></li>
      <li><%= image_tag("gears_Settings.png", class:"gears") %></li>
    </ul>
  </nav>
</header>