// Place all the styles related to the Surveillance controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-controls {
  width: 100%;
  text-align: center;
}

.camera-stream {
  padding-left: 15%;
  border: 6px solid #183152;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 50vh;
}


@media only screen and (max-width: 480px) {
  .camera-stream {
    padding: 0;
    border: none;
  }
}